<% provide(:title, "Top") %>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>TaskApp</h1>
      <p>TaskAppは簡易ToDo管理ツールです。</p>
      <p>↓↓初めてのご利用↓↓</p>
      <div class="button1">
        <%= link_to "アカウント作成", new_user_path, class: "btn btn-lg btn-success" %>
      </div>
      <div class="center">
        <%= link_to "ゲストログイン(管理権限)", "#" , class: "btn btn-default btn-danger" %>
        <%= link_to "ゲストログイン(一般権限)", "#" , class: "btn btn-default btn-warning" %>
      </div>
      
    </div>
    <div class="col-md-6">
      <h2>ログイン</h2> 
      
      
    </div>
</div>
</div>
