#top-page{
  font-size: 70px;
  padding-top: 60px;
  font-style: italic;
  font-weight: bold;
}

h2{
  font-size: 40px;
  padding-top: 50px;
  color: black;
}


.sample{
  position: relative;
  bottom: 10px;
  font-size: 20px;
  text-align: center;

}

.button1{
  text-align: center;
  padding-bottom: 10px;
}

